* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.color-white {
  color: #fff !important;
}
body {
  background-color: #f5f6fa !important;
}
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.homepage {
  max-width: 550px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  box-shadow: -10px 10px 15px -11px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -10px 10px 15px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -10px 10px 15px -11px rgba(0, 0, 0, 0.63);
}
.errorMsg {
  border: 1px solid red;
  line-height: 16px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.collegeRegisterForm,
.collegeLoginForm {
  padding: 10px;
  margin: 10px;
  box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: 1px solid rgba(99, 250, 119, 0.5);

  input,
  select {
    border-radius: 10px;
    border: none;
    margin-top: 5px;
  }
  button {
    font-size: 16px;
    background-color: #32ff7e;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin: auto;
    display: block;
  }
}

// collegeDashboard start
/*
    DEMO STYLE
*/

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #0dcaf0;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #00d5ff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.listItemBorder {
  border: 2px solid red !important;
}

.collegeDashboardOptionBtn {
  // width: 100%;
  display: block !important;
  text-align: left !important;
}

.logout {
  width: 70%;
  background: #24b6d3 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
// collegeDashboard end
// add teacher start
.collegeOptionComponentContainer, .studentOptionComponentContainer, .streamOptionComponentContainer, .notificationOptionComponentContainer {
  background: #fff !important;
  padding: 10px;
  margin: 10px;
  box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: 2px solid rgba(99, 250, 119, 0.5);

  .collegeOptionComponentInput,  .studentOptionComponentInput, .streamOptionComponentInput, .notificationOptionComponentInput{
    margin: 5px;
  }
  .cbtn {
    background: #00d5ff;
  }
  input {
    color: #00d5ff;
  }
}
// add teacher end

.selectBox {
  border: none !important;
  outline: none !important;
  scroll-behavior: smooth;
}

// send notification start
.send-notification {
  background-color: #ffffff !important;
  border-radius: 15px !important;

}
// send notification end

// teacher login start

.teacher-login-container, .student-login-container {
  .teacherLoginForm, .studentLoginForm {
    background-color: #fff !important;
    padding: 10px;
    margin: 10px;
    box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: -10px 10px 5px -11px rgba(0, 0, 0, 0.63);
    border-radius: 5px;
    border: 1px solid rgba(99, 250, 119, 0.5);
  }
  .loginbtn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00d5ff;
  }
  .loginbtn:hover {
    background-color: #5ad1e9;
  }
}

// teacher login end

// meeting start
#sidebar-right {
  min-width: 300px;
  max-width: 300px;
  background: #2d3436;
  color: #fff;
  margin-right: -300px;
  transition: all 0.3s;
  z-index: 1;
}

#sidebar-right.active {
  margin-right: 0;
}

#sidebar-right .sidebar-header {
  padding: 13px;
  background: #394144;
}

#sidebar-right ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar-right ul p {
  color: #fff;
  padding: 10px;
}

.meeting-container {
  margin: 0 !important;
  padding: 0 !important;
}

.video-container {
  overflow-y:auto;
}
.main-video {
  border-radius: 15px;
  width: 800px;
  background-color: #2d3436;
  margin: auto !important;
  video::-webkit-media-controls {
    display:none !important;
  }
  * {
    border-radius: 15px;
    width: 100% !important;
    height: 450px !important;
    z-index: 100;
    display: block;
  }
}
.secondory-video {
  .secondory-all-videos > * {
    margin: auto !important;
  }
  .single-video {
    border-radius: 15px;
    background-color: #2d3436;
    
    padding: 0;
  }
  .single-video:empty {
    display: none;
  }
  video {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    object-fit: cover;
    width: 100%;
    max-height: 135px;
    border-radius: 15px !important;
  }
  video::-webkit-media-controls {
    display:none !important;
  }
}

.meeting-bar {
  position: fixed !important;
  bottom: 0;
  left: 50%;
  height: 70px;
  transform: translateX(-50%);
  width: 100% !important;
  border-radius: 35px;
  margin-bottom: 10px;
  padding: 6px;
  background-color: #2d3436;
}
.meeting-buttons-container {
  background-color: #394144;
  width: 100%;
  margin: auto !important;
  text-align: center;
  border-radius: 35px;
  height: 58px;
  line-height: 58px;
  -webkit-box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75);
}
.meeting-buttons-container > * {
  border-radius: 50% !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  margin-bottom: 5px !important;
  background-color: rgb(27, 27, 27) !important;
  height: 50px !important;
  width: 50px !important;
  color: white !important;
}
.meeting-buttons-container > *:hover {
  background-color: #ffffff !important;
  cursor: pointer;
  color: black !important;
  -webkit-box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75) !important;
  -moz-box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75) !important;
  box-shadow: -2px 4px 10px 0px rgba(50, 50, 50, 0.75) !important;
}
.red {
  background-color: #e94335 !important;
}
.blue {
  background-color: #8ab4f8 !important;
}
// meeting end




// chat start
#chat-msg-container {
  max-height: 80vh;
  overflow-y: auto;
  .chat-msg {
    color: #ffffff;
    .chat-sender {
      .msg-send-time {
        color: #979797;
      }
    }
    .chat-msg-instance {
      font-style: normal;
      padding-bottom: 2px;
    }
    border-bottom: 1px solid rgba(151, 151, 151, .1); 
    margin-bottom: 3px;
    font-style: italic;
  }
}

.chat-msg-util-container {
  position: fixed;
  bottom: 0;
  .close-btn {
    cursor: pointer;
    margin-right: 5px;
    color: red;
    width: 10%;
  }
  #chat-msg-input {
    width: auto;
    background: #202124;
    font-size: 16px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7x;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  .send-btn > * {
    color: #1a73e8 !important;
    width: 5%;
  }
}

// chat end

// add student start

// add student end